mediapipe==0.10.14
numpy==1.24.4
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
Pillow==11.0.0
timm==1.0.11
torch==2.2.2
torchvision==0.17.2
ultralight==2.2.0